@use '@angular/material' as mat;

// Scoped to the current component only
:host {
  @include mat.expansion-overrides((
    container-shape: 4px,  // Less rounded (default is usually 4px-12px, use 0px for sharp corners)
    container-elevation-shadow: none,  // Remove drop shadow
  ));
  mat-expansion-panel {
    border: 1px solid lightgrey;
    background-color: #F4F9FE;
  }
}
.loading-ellipsis::after {
  display: inline-block;
  animation: ellipsis 1.2s infinite steps(4, end);
  content: "...";
  width: 1.5em; /* Prevents text from shifting */
  text-align: left;
}

@keyframes ellipsis {
  0% { content: ""; }
  25% { content: "."; }
  50% { content: ".."; }
  75% { content: "..."; }
  100% { content: ""; }
}
