<form [formGroup]="form()">
  <h2>
    <span class="centered-vertically">
      <label>
        {{ option().label }}
        <mat-checkbox [formControlName]="option().ruleId"></mat-checkbox>
      </label>
      @if (option().tooltip) {
        <mat-icon [matTooltip]="option().tooltip" class="tooltip-icon margin-left-md">info</mat-icon>
      }
      @for (tag of option().tags; track tag) {
        @if ((tag | chipsStr); as chipValue) {
          <div class="tag is-rounded form-tag"
               [class]="chipValue.toLowerCase() === 'required' ? 'is-danger is-light' :
                    chipValue.toLowerCase() === 'optional' ? 'is-white' :
                    'is-light'">
          {{ chipValue }}
        </div>
        }
      }
      </span>
  </h2>
  <div class="description">{{ option().description }}</div>
</form>
