.concept-value-display {
  margin-top: 12px;
  font-size: medium;
}

.description-italic {
  font-size: 0.875rem;
  color: #6a7282;
  margin-top: 16px;
  font-style: italic;
}

.horizontal-center {
  text-align: center;
}

.results-col {
  min-width: 200px;
  margin-right: 16px;
}
