<form class="margin-bottom-md" [formGroup]="additionalDataFg()">
  <div class="border rounded-2 p-4">
    <div class="mb-4">
      <h1 class="title-label mt-0">Clinical Data Set {{ index() + 1 }}</h1>
      <div class="helper-text">{{ UI_CONSTANTS.DATA_SET_DESCRIPTION }}</div>
    </div>
    <div>
      <mat-accordion togglePosition="before">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Clinical Data Set Settings</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="label flex-row margin-bottom-sm">Timing
            <mat-icon class="tooltip-icon" [matTooltip]="UI_CONSTANTS.TIMING_TOOLTIP">info</mat-icon>
          </div>
          <app-onset-time-range
            [form]="additionalDataFg().get('eventSetTiming') | asFormGroup">
          </app-onset-time-range>
          <div class="margin-top-lg">
            <mat-divider></mat-divider>
          </div>
          <div class="margin-top-sm" [formGroup]="additionalDataFg().get('diagnosticPanel') | asFormGroup">
            <mat-checkbox formControlName="includeDiagnosticReport" labelPosition="before">
              <div
                class="label flex-row">{{ UI_CONSTANTS.EVENT_SET_SETTINGS.DIAGNOSTIC_REPORT_SETTINGS.CHECKBOX_LBL }}
                <mat-icon class="tooltip-icon"
                          [matTooltip]="UI_CONSTANTS.EVENT_SET_SETTINGS.DIAGNOSTIC_REPORT_SETTINGS.TOOLTIP">info
                </mat-icon>
              </div>
            </mat-checkbox>
            <div class="tag">{{ UI_CONSTANTS.EVENT_SET_SETTINGS.DIAGNOSTIC_REPORT_SETTINGS.INSTRUCTIONS }}</div>
          </div>
          @if (additionalDataFg().get(['diagnosticPanel', 'includeDiagnosticReport'])?.value) {
            <app-concept-form
              [form]="additionalDataFg().get(['diagnosticPanel']) | asFormGroup"
              [option]="{'label':'', 'control':'other' , 'ruleId': 'diagnosticReportConcept'}"
              [formFieldHints]="UI_CONSTANTS.CONCEPT_HINTS.DIAGNOSTIC_PANEL"
              [searchTermHint]="UI_CONSTANTS.SEARCH_TERM_HINTS.DIAGNOSTIC_PANEL_CONCEPT"
            ></app-concept-form>
          }
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <section class="pt-4 mt-4 border-t">
      <div class="d-flex gap-2 margin-bottom-md">
        <button matButton="filled" class="secondary-btn" (click)="addObservation(additionalDataFg())" type="button"
                [matTooltip]="UI_CONSTANTS.CLINICAL_DATA_TOOLTIPS.LAB_RESULT">
          <mat-icon>add</mat-icon>
          Add {{ labObservationButtonLabel() }}
        </button>
        <button matButton="filled" class="secondary-btn" (click)="addProcedure(additionalDataFg())" type="button"
                [matTooltip]="UI_CONSTANTS.CLINICAL_DATA_TOOLTIPS.PROCEDURE">
          <mat-icon>add</mat-icon>
          Add {{ procedureButtonLabel() }}
        </button>
        <button matButton="filled" class="secondary-btn" (click)="addRadiologyReport(additionalDataFg())" type="button"
                [matTooltip]="UI_CONSTANTS.CLINICAL_DATA_TOOLTIPS.RADIOLOGY_REPORT">
          <mat-icon>add</mat-icon>
          Add {{ radiologyButtonLabel() }}
        </button>
      </div>
    </section>

    @if (getFormArrayByName(additionalDataFg(), 'labObservations')) {
      <div #labObservationsContainer class="panel gray-bg">
        <div class="panel-header mb-4">
          <h2>Lab/Observation(s)</h2>
        </div>
        <div class="panel-content">
          @for (labObservationFg of getControls(additionalDataFg(), ['labObservations'])?.controls;
            track labObservationFg;
            let j = $index) {
            @if (labObservationFg && isFormGroup(labObservationFg)) {
              <div class="panel margin-bottom-md" [formGroup]="labObservationFg">
                <div class="d-flex align-items-start gap-3">
                  <div class="flex-grow-1">
                    <app-concept-form
                      [form]="labObservationFg"
                      [option]="{'label':'', 'control':'other' , 'ruleId': `labResultConcept`}"
                      [formFieldHints]="UI_CONSTANTS.CONCEPT_HINTS.OBSERVATION"
                      [searchTermHint]="UI_CONSTANTS.SEARCH_TERM_HINTS.LAB_RESULT_CONCEPT"
                    ></app-concept-form>
                  </div>
                  <div class="flex-shrink-0">
                    <button matMiniFab aria-label="Delete Lab Observation"
                            type="button" matTooltip="Delete Lab/Observation" class="btn-danger outlined-fab"
                            (click)="onDeleteEventDataItem(j, additionalDataFg(), 'labObservations')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="row pt-4">
                  <div formGroupName="value">
                    <div class="d-flex align-items-top">
                      <mat-form-field appearance="outline" class="margin-right-lg">
                        <mat-label>Value Type</mat-label>
                        <mat-select formControlName="valueType">
                          @for (type of additionalDataHelperSeries.valueTypes; track type) {
                            <mat-option [value]="type.value">{{ type.display }}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      @if (labObservationFg.get(['value', 'valueType'])!.value == 'quantity') {
                        @let availablePresets = labObservationFg.get('availablePresets')?.value;
                        @let selectedPreset = labObservationFg.get('selectedPreset')?.value;
                        @let isLoadingPresets = labObservationFg.get('isLoadingPresets')?.value;
                        @let conceptCode = labObservationFg.get(['labResultConcept', 'code'])?.value;
                        <mat-form-field appearance="outline" class="margin-right-md" style="min-width: 25em">
                          <mat-label>
                            @if (isLoadingPresets) {
                              Searching for Presets...
                            } @else if (selectedPreset == 'Custom') {
                              Custom
                            } @else if (!conceptCode) {
                              Enter a concept code to see presets
                            } @else if (availablePresets && availablePresets.length > 0) {
                              Select Preset ({{ availablePresets.length }} found)
                            } @else {
                              No presets available
                            }
                          </mat-label>
                          <mat-select
                            [value]="selectedPreset"
                            [disabled]="isLoadingPresets || !availablePresets || availablePresets.length === 0"
                            (selectionChange)="onPresetSelected(labObservationFg, $event.value)">
                            @if (availablePresets && availablePresets.length > 0) {
                              @for (preset of availablePresets; track preset.presetName) {
                                @if (preset !== 'Custom') {
                                  <mat-option [value]="preset">{{ preset.presetName }}</mat-option>
                                }
                              }
                            }
                          </mat-select>
                        </mat-form-field>
                        @if (isLoadingPresets) {
                          <mat-spinner class="margin-top-md" diameter="24" style="margin-left: 8px;"></mat-spinner>
                        }
                      }
                    </div>

                    @if (labObservationFg.get(['value', 'valueType'])!.value == 'string') {
                      <div class="helper-text margin-bottom-md">{{ UI_CONSTANTS.LAB_RESULTS_VALUES_DESCRIPTIONS.STRING }}</div>
                      <app-simple-weighting-form-array
                        [formArray]="getFormArrayByName(labObservationFg, ['value', 'valueArray'])">
                      </app-simple-weighting-form-array>
                    } @else {
                      <div class="helper-text margin-bottom-md">{{ UI_CONSTANTS.LAB_RESULTS_VALUES_DESCRIPTIONS.QUANTITY.PART_1}}
                        <a href="https://ucum.org/" target="_blank">(UCUM)</a>. {{ UI_CONSTANTS.LAB_RESULTS_VALUES_DESCRIPTIONS.QUANTITY.PART_2 }}
                      </div>
                      @for (quantityFg of getControls(labObservationFg, ['value', 'valueArray'])?.controls;
                        track quantityFg) {
                        @if (isFormGroup(quantityFg)) {
                          <div [formGroup]="quantityFg" class="d-flex align-items-top">
                            <mat-form-field appearance="outline" class="margin-right-md">
                              <mat-label>Minimum Value</mat-label>
                              <input type="number" matInput formControlName="min">
                              @if (quantityFg.get('min')?.invalid) {
                                <mat-error>
                                  @if (quantityFg.get('min')?.hasError('required')) {
                                    Minimum value is required
                                  }
                                </mat-error>
                              }
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="margin-right-md">
                              <mat-label>Maximum Value</mat-label>
                              <input type="number" matInput formControlName="max">
                              @if (quantityFg.get('max')?.invalid) {
                                <mat-error>
                                  @if (quantityFg.get('max')?.hasError('required')) {
                                    Maximum value is required
                                  }
                                </mat-error>
                              }
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="margin-right-md">
                              <mat-label>Units</mat-label>
                              <input
                                type="text"
                                matInput
                                formControlName="unit"
                                [matAutocomplete]="auto"
                              />
                              <mat-autocomplete #auto="matAutocomplete">
                                @for (unit of getFilteredUnits(quantityFg) | async; track unit.Code) {
                                  <mat-option [value]="unit.Display">{{ unit.Display }}</mat-option>
                                }
                              </mat-autocomplete>
                              @if (quantityFg.get('unit')?.invalid) {
                                <mat-error>
                                  @if (quantityFg.get('unit')?.hasError('required')) {
                                    Unit value is required
                                  }
                                </mat-error>
                              }
                            </mat-form-field>

                          </div>
                        }
                      }
                    }
                    @if (labObservationFg.get(['value', 'valueType'])!.value == 'string') {
                      <button matButton="outlined" type="button"
                              (click)="addValue(labObservationFg, labObservationFg.get(['value', 'valueType'])!.value)">
                        <mat-icon>add</mat-icon>
                        Add Value
                      </button>
                    }
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    }

    @if (getFormArrayByName(additionalDataFg(), 'procedures')) {
      <div #proceduresContainer class="panel gray-bg margin-bottom-md">
        <div class="margin-bottom-md">
          <h2>Procedure(s)</h2>
        </div>
        <div>
          @for (procedureFg of getControls(additionalDataFg(), ['procedures'])?.controls;
            track procedureFg; let j = $index) {
            @if (isFormGroup(procedureFg)) {
              <div class="panel margin-bottom-md d-flex align-items-start gap-3">
                <div class="flex-grow-1">
                  <app-concept-form
                    [form]="procedureFg"
                    [option]="{'label':'', 'control':'other' , 'ruleId': 'procedureConcept'}"
                    [formFieldHints]="UI_CONSTANTS.CONCEPT_HINTS.PROCEDURE"
                    [searchTermHint]="UI_CONSTANTS.SEARCH_TERM_HINTS.PROCEDURE_CONCEPT"
                  ></app-concept-form>
                </div>
                <div class="flex-shrink-0">
                  <button matMiniFab aria-label="Delete Procedures"
                          type="button" matTooltip="Delete Procedure" class="btn-danger outlined-fab"
                          (click)="onDeleteEventDataItem(j, additionalDataFg(), 'procedures')">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            }
          }
        </div>
      </div>
    }

    @if (getFormArrayByName(additionalDataFg(), 'radiologyList')) {
      <div #radiologyContainer class="panel gray-bg margin-bottom-md">
        <div class="margin-bottom-md">
          <h2>Radiology Reports(s)</h2>
        </div>
        <div>
          @for (radiologyFg of getControls(additionalDataFg(), ['radiologyList'])?.controls;
            track radiologyFg; let j = $index) {
            @if (isFormGroup(radiologyFg)) {
              <div class="panel margin-bottom-md d-flex align-items-start gap-3">
                <div class="flex-grow-1">
                  <app-concept-form
                    [form]="radiologyFg"
                    [option]="{'label':'', 'control':'other' , 'ruleId': 'radiologyConcept'}"
                    [formFieldHints]="UI_CONSTANTS.CONCEPT_HINTS.PROCEDURE"
                    [searchTermHint]="UI_CONSTANTS.SEARCH_TERM_HINTS.PROCEDURE_CONCEPT"
                  ></app-concept-form>
                </div>
                <div class="flex-shrink-0">
                  <button matMiniFab aria-label="Delete Radiology Report"
                          type="button" matTooltip="Delete Radiology Report" class="btn-danger outlined-fab"
                          (click)="onDeleteEventDataItem(j, additionalDataFg(), 'radiologyList')">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            }
          }
        </div>
      </div>
    }

    @if (additionalDataFg().hasError('noContent') && additionalDataFg().touched) {
      <div class="alert alert-danger mt-4" role="alert">
        Please add at least one Lab/Observation, Procedure, or Radiology Report before saving.
      </div>
    }
    <div class="d-flex justify-content-end mt-4 pt-4 border-t">
      <button
        matButton="outlined" class="margin-right-sm" type="button"
        (click)="onCancel.emit()">
        Cancel
      </button>
      <button
        type="submit"
        matButton="filled"
        class="btn-success w-25"
        (click)="onSaveEvent()">
        Save Clinical Data Set
      </button>
    </div>
  </div>
</form>
