<form class="margin-bottom-md" [formGroup]="additionalDataFg()">
  <div class="border rounded-2 p-4">
    <div class="mb-4">
      <h1 class="title-label mt-0">Clinical Data Set {{ additionalDataFg().get('nameCounter').value }}</h1>
      <div class="helper-text">{{ UI_CONSTANTS.DATA_SET_DESCRIPTION }}</div>
    </div>
    <div>
      <mat-accordion togglePosition="before">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Clinical Data Set Settings</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="label flex-row margin-bottom-sm">Timing
            <mat-icon class="tooltip-icon" [matTooltip]="UI_CONSTANTS.TIMING_TOOLTIP">info</mat-icon>
            <div class="tag is-rounded form-tag optional is-white margin-left-sm">
              Optional
            </div>
          </div>
          <app-onset-time-range
            [form]="additionalDataFg().get('eventSetTiming') | asFormGroup">
          </app-onset-time-range>
          <div class="margin-top-lg">
            <mat-divider></mat-divider>
          </div>
          <div class="margin-top-sm" [formGroup]="additionalDataFg().get('diagnosticPanel') | asFormGroup">
            <mat-checkbox formControlName="includeDiagnosticReport" labelPosition="before">
              <div
                class="label flex-row">{{ UI_CONSTANTS.EVENT_SET_SETTINGS.DIAGNOSTIC_REPORT_SETTINGS.CHECKBOX_LBL }}
                <mat-icon class="tooltip-icon"
                          [matTooltip]="UI_CONSTANTS.EVENT_SET_SETTINGS.DIAGNOSTIC_REPORT_SETTINGS.TOOLTIP">info
                </mat-icon>
              </div>
            </mat-checkbox>
            <div class="tag is-rounded form-tag optional is-white margin-left-sm">
              Optional
            </div>
            <div class="tag">{{ UI_CONSTANTS.EVENT_SET_SETTINGS.DIAGNOSTIC_REPORT_SETTINGS.INSTRUCTIONS }}</div>
          </div>
          @if (additionalDataFg().get(['diagnosticPanel', 'includeDiagnosticReport'])?.value) {
            <app-concept-form
              [form]="additionalDataFg().get(['diagnosticPanel']) | asFormGroup"
              [option]="{'label':'', 'control':'other' , 'ruleId': 'diagnosticReportConcept'}"
              [formFieldHints]="UI_CONSTANTS.CONCEPT_HINTS.DIAGNOSTIC_PANEL"
              [searchTermHint]="UI_CONSTANTS.SEARCH_TERM_HINTS.DIAGNOSTIC_PANEL_CONCEPT"
            ></app-concept-form>
          }
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <section class="pt-4 mt-4 border-t">
      <div class="d-flex gap-2 margin-bottom-md">
        <button matButton="filled" class="secondary-btn" (click)="addObservation(additionalDataFg())" type="button"
                [matTooltip]="UI_CONSTANTS.CLINICAL_DATA_TOOLTIPS.LAB_RESULT">
          <mat-icon>add</mat-icon>
          Add {{ labObservationButtonLabel() }}
        </button>
        <button matButton="filled" class="secondary-btn" (click)="addProcedure(additionalDataFg())" type="button"
                [matTooltip]="UI_CONSTANTS.CLINICAL_DATA_TOOLTIPS.PROCEDURE">
          <mat-icon>add</mat-icon>
          Add {{ procedureButtonLabel() }}
        </button>
        <button matButton="filled" class="secondary-btn" (click)="addRadiologyReport(additionalDataFg())" type="button"
                [matTooltip]="UI_CONSTANTS.CLINICAL_DATA_TOOLTIPS.RADIOLOGY_REPORT">
          <mat-icon>add</mat-icon>
          Add {{ radiologyButtonLabel() }}
        </button>
      </div>
    </section>

    @if (getFormArrayByName(additionalDataFg(), 'labObservations')) {
      <div #labObservationsContainer class="panel gray-bg margin-bottom-md">
        <app-observations
          [observationsFormArray]="utils.getFormControlsByName(additionalDataFg(), ['labObservations'])"
          (onDeleteObservation)="onDeleteEventDataItem(Number($event), additionalDataFg(), 'labObservations')"
        >
        </app-observations>
      </div>
    }

    @if (utils.getFormControlsByName(additionalDataFg(), 'procedures')) {
      <div #proceduresContainer class="panel gray-bg margin-bottom-md">
        <app-procedures
          [procedureFormArray]="getControls(additionalDataFg(), ['procedures'])"
          (onDeleteProcedure)="onDeleteEventDataItem(Number($event), additionalDataFg(), 'procedures')"
        >
        </app-procedures>
      </div>
    }

    @if (utils.getFormControlsByName(additionalDataFg(), 'radiologyList')) {
      <div #radiologyContainer class="panel gray-bg margin-bottom-md">
        <app-radiology-reports
          [radiologyReportFormArray]="getControls(additionalDataFg(), ['radiologyList'])"
          (onDeleteRadiologyReport)="onDeleteEventDataItem(Number($event), additionalDataFg(), 'radiologyList')"
        >
        </app-radiology-reports>
      </div>
    }

    @if (additionalDataFg().hasError('noContent') && additionalDataFg().touched) {
      <div class="alert alert-danger mt-4" role="alert">
        Please add at least one Lab/Observation, Procedure, or Radiology Report before saving.
      </div>
    }
    <div class="d-flex justify-content-end mt-4 pt-4 border-t">
      <button
        matButton="outlined" class="margin-right-sm" type="button"
        (click)="onCancelEventSetEdit()">
        Cancel
      </button>
      <button
        type="submit"
        matButton="filled"
        class="btn-success w-25"
        (click)="onSaveEventSet()">
        Save Clinical Data Set
      </button>
    </div>
  </div>
</form>
