.menu-item{
  cursor: pointer;
  display: flex;
  height: 40px;
  padding-left: 11px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;

  .step-number{
    font-weight: 300;
    display: flex;
    font-size: small;
    width: 20px;
    padding: 1em;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius:2em;
    background: #9F9FA9;
  }

  &.disabled {
    opacity: 0.5;
    color: #6B7280;

    .step-number {
      background: #D1D5DB;
    }
  }
  &.selected{
    border-radius: 8px;
    background: #E5E7EB;
  }

}

.step-menu{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.error-icon{
  color: var(--red-600);
  fill: var(--red-600);
}
