<div class="panel gray-bg margin-bottom-md">
  <div class="panel-header d-flex align-items-center">
    <div class="d-flex align-items-center">
      <div class="tag is-white border">
        Clinical Data Set {{ data()?.nameCounter }}
      </div>
    </div>
    @if (editModeEnabled()) {
      <button matIconButton
              [matTooltip]="'Edit ' + UI_CONSTANTS.CLINICAL_DATA_SET + ' ' + data()?.nameCounter"
              [aria-label]="'Edit ' + UI_CONSTANTS.CLINICAL_DATA_SET + ' ' + data()?.nameCounter"
              class="margin-left-sm"
              (click)="onEditEventSet()"
              [disabled]="editDisabled()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button matIconButton
              [matTooltip]="'Delete ' + UI_CONSTANTS.CLINICAL_DATA_SET + ' ' + data()?.nameCounter"
              [aria-label]="'Delete ' + UI_CONSTANTS.CLINICAL_DATA_SET + ' ' + data()?.nameCounter"
              class="btn-danger"
              (click)="onDeleteEventSet(index())"
      >
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>

  <div class="tag margin-bottom-sm">
    <div>
      Onset(+) {{ eventSetDataView().onset.onsetPlus }} {{ eventSetDataView().onset.units }}
      @if (eventSetDataView().onset.repeat) {
        Repeat Every {{ eventSetDataView().onset.repeatEvery }} {{ eventSetDataView().onset.repeatEveryUnits }}
        @if (eventSetDataView().onset.endFor === 'For') {
          Until {{ eventSetDataView().onset.untilValue }} {{ eventSetDataView().onset.untilUnit }}
        } @else {
          Until End
        }
      }
    </div>
    @if(eventSetDataView().diagnosticPanel){
      <div>
        {{ eventSetDataView().diagnosticPanel.display }} Code: {{ eventSetDataView().diagnosticPanel.code }} System: {{ eventSetDataView().diagnosticPanel | systemStr }}
      </div>
    }
  </div>

  <table mat-table [dataSource]="eventSetDataView().lineItems" class="mat-elevation-z8">

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let row"> {{ row.type }}</td>
    </ng-container>

    <!-- System Column -->
    <ng-container matColumnDef="system">
      <th mat-header-cell *matHeaderCellDef> System</th>
      <td mat-cell *matCellDef="let row"> {{ row | systemStr }}</td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code</th>
      <td mat-cell *matCellDef="let row"> {{ row.code }}</td>
    </ng-container>

    <!-- Display Column -->
    <ng-container matColumnDef="display">
      <th mat-header-cell *matHeaderCellDef> Display</th>
      <td mat-cell *matCellDef="let row"> {{ row.display }}</td>
    </ng-container>

    <!-- Value Type Column -->
    <ng-container matColumnDef="valueType">
      <th mat-header-cell *matHeaderCellDef> Value Type</th>
      <td mat-cell *matCellDef="let row"> {{ row.valueType }}</td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value</th>
      <td mat-cell *matCellDef="let row"> {{ row.value }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
