<div [formGroup]="medicationForm()" class="border p-4 rounded-2 mt-2">
  <div class="d-flex align-items-start gap-3 mb-3">
    <div class="flex-grow-1">
      <app-concept-form
        [formFieldHints]="MEDICATIONS_CONST.CONCEPT_HINTS"
        [form]="medicationForm()"
        [option]="{'label':'', 'control':'other' , 'ruleId':`concept`}"
        [searchTermHint]="MEDICATIONS_CONST.SEARCH_TERM_HINT"
      >
      </app-concept-form>
    </div>

    <div class="flex-shrink-0">
      <button matMiniFab class="outlined-fab btn-danger" aria-label="Delete Medication" (click)="delete.emit()" matTooltip="Delete Medication">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="form-group">
    <label class="field-label" for="dosage-{{index()}}">
      <div>Dosage Instructions</div>
      <div class="tag is-rounded form-tag is-white margin-left-sm">{{ 'optional' | chipsStr }}</div>
    </label>
    <mat-form-field appearance="outline" class="w-full margin-top-md">
      <input id="dosage-{{index()}}" type="text" matInput formControlName="dosage">
    </mat-form-field>
  </div>
</div>
